# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating System Files
.DS_Store

# Environments
.venv/
venv/
ENV/
env/

# Project Specific Data (Large log files from Loghub)
Dataset/
Images/

# Local Environment Variables
.env

